In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing stock trend data.
stockdf = pd.read_csv('hc_df_preprocessed.csv')
stockdf.head()

         Date  stock_trend
0  2020-03-25            1
1  2020-03-26            1
2  2020-03-27            1
3  2020-03-31            1
4  2020-04-01            0

In [175]:
#importing covid cases data.
coviddf = pd.read_csv('covid_df_preprocessed.csv')
coviddf.head()

,date,positive,negative,hospitalizedCurrently,recovered,death,hospitalized,totalTestResults,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-03-25,75242,395632,5140.0,146.0,1058.0,7073.0,524577,238,1949,70882,12891,89096
1,2020-03-26,92976,482148,7805.0,97.0,1374.0,9551.0,632999,316,2478,86516,17734,108422
2,2020-03-27,112220,559423,10978.0,2418.0,1782.0,12123.0,735114,408,2572,77275,19244,102115
3,2020-03-28,131826,657185,12409.0,3145.0,2333.0,14532.0,835570,551,2409,97762,19606,100456
4,2020-03-29,151270,722597,14055.0,4076.0,2837.0,17326.0,919122,504,2794,65412,19444,83552

In [176]:
#changing columns name so we can merge the data.
stockdf.rename(columns={"Date": "date"}, inplace=True)

In [177]:
#Merging the data.
data = pd.merge(stockdf, coviddf, on='date')

In [178]:
data

,date,stock_trend,positive,negative,hospitalizedCurrently,recovered,death,hospitalized,totalTestResults,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-03-25,1,75242,395632,5140.0,146.0,1058.0,7073.0,524577,238,1949,70882,12891,89096
1,2020-03-26,1,92976,482148,7805.0,97.0,1374.0,9551.0,632999,316,2478,86516,17734,108422
2,2020-03-27,1,112220,559423,10978.0,2418.0,1782.0,12123.0,735114,408,2572,77275,19244,102115
3,2020-03-31,1,197924,906161,18155.0,5666.0,4332.0,23796.0,1150337,907,3998,87930,25184,114632
4,2020-04-01,0,224040,989609,20906.0,7084.0,5336.0,27930.0,1262834,1004,4134,83448,26116,112497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2020-11-25,0,12581196,148129101,90041.0,4835956.0,253424.0,544898.0,184877012,2289,4568,1160187,183629,1720705
140,2020-12-01,1,13515360,155805555,98777.0,5226581.0,261789.0,565093.0,195117280,2473,5222,1941714,176753,2340996
141,2020-12-02,1,13711156,156787587,100322.0,5322128.0,264522.0,570121.0,196576482,2733,5028,982032,195796,1459202
142,2020-12-03,1,13921360,158026052,100755.0,5404018.0,267228.0,575452.0,198404712,2706,5331,1238465,210204,1828230
143,2020-12-04,1,14146191,159286709,101276.0,5470389.0,269791.0,580104.0,200259581,2563,4652,1260657,224831,1854869

In [180]:
data.to_csv('FinalData.csv', index=False)